<template>
  <div
      :class="[
            extendContainerClass ? `${extendContainerClass}` : '',
            fitContainer ? `fit-container` : '',
            status ? `input--${status}` : '',
            {
                'extended-input': $slots.prefix || $slots.postfix,
                'input--disabled': disabled,
                'input--prefix': $slots.prefix,
                'input--postfix': $slots.postfix
            }
        ]"
      class="input"
  >
    <div v-if="$slots.prefix" ref="prefix" class="extended-input__prefix">
      <slot name="prefix" />
    </div>

    <input
        :id="id"
        :class="[extendInputClass ? `${extendInputClass}` : '']"
        :type="type"
        :name="name"
        :value="currentValue"
        :placeholder="placeholder"
        :min="min"
        :max="max"
        :minlength="minlength"
        :maxlength="maxlength"
        :disabled="disabled"
        :readonly="readonly"
        :required="required"
        :autofocus="autofocus"
        :tabindex="tabindex"
        class="input__original"
        @focus="handleFocus"
        @blur="handleBlur"
        @input="handleInput"
    >

    <div v-if="$slots.postfix" ref="postfix" class="extended-input__postfix">
      <slot name="postfix" />
    </div>
  </div>
</template>

<script>
  import TextFieldMixin from '../../utils/mixins/TextFieldMixin';

  export default {
    name: 'BaseInput',
    mixins: [TextFieldMixin],
  };
</script>

<style lang="scss">
  @import "~styles/variables";
  .input {
    .extended-input__prefix, .extended-input__postfix{
      margin-bottom: 1vh;
      color: $input-label-color;
    }
    &__original {
      width: 30vw;
      height: 4vh;
      padding-left: 1vh;
      border-radius: 4px;
      font-size: $font-size;
      font-family: $font-family;
      border: 1px solid #dfe3e9;
      background-color: #f8fafc;
      color: $input-label-color;
    }
    &__original::placeholder {
      opacity: 0.5;
      color: #354052;
    }

    &--success {
      .input__original {
        border-color: $success;
      }
    }
    &--error {
      .input__original {
        border-color: $danger;
      }
    }
    &--warning {
      .input__original {
        border-color: $warning;
      }
    }
    &--info {
      .input__original {
        border-color: $info;
      }
    }
  }
</style>
