<template>
  <div
      :class="[
            extendContainerClass ? `${extendContainerClass}` : '',
            fitContainer ? `fit-container` : '',
            status ? `input--${status}` : '',
            {
                'extended-input': $slots.prefix || $slots.postfix,
                'input--disabled': disabled,
                'input--prefix': $slots.prefix,
                'input--postfix': $slots.postfix
            }
        ]"
      class="input"
  >
    <div ref="prefix" v-if="$slots.prefix" class="extended-input__prefix">
      <slot name="prefix" />
    </div>
    <input
        v-mask="mask"
        v-model="currentValue"
        :id="id"
        :class="[extendInputClass ? `${extendInputClass}` : '']"
        :style="inputStyles"
        :type="type"
        :name="name"
        :placeholder="placeholder"
        :min="min"
        :max="max"
        :minlength="minlength"
        :maxlength="maxlength"
        :disabled="disabled"
        :readonly="readonly"
        :required="required"
        :autofocus="autofocus"
        @focus="handleFocus"
        @blur="handleBlur"
        @input="handleInput"
        class="input__original w-input"
    >

    <div ref="postfix" v-if="$slots.postfix" class="extended-input__postfix">
      <slot name="postfix" />
    </div>
  </div>
</template>

<script>
  import { VueMaskDirective } from 'v-mask';
  import BaseInput from './BaseInput';
  import TextFieldMixin from '../../utils/mixins/TextFieldMixin';

  export default {
    name: 'MaskedInput',
    directives: {
      'mask': VueMaskDirective
    },
    extends: BaseInput,
    mixins: [TextFieldMixin],
    props: {
      /**
       * Маска для инпута в форме
       *  #  Number (0-9)
       *  A  Letter in any case (a-z,A-Z)
       *  N  Number or letter
       *  X  Any symbol
       *  ?  Optional (next character)
       */
      mask: {
        type: String,
        require: true
      },
    },
    data() {
      return {
        currentValue: this.value
      };
    },
    methods: {
      handleFocus(evt) {
        this.$emit('focus', evt);
      },
      handleBlur(evt) {
        this.$emit('blur', evt);
      },
      handleInput(evt) {
        const value = evt.target.value;
        this.$emit('change', value);
        this.$emit('event-propagation', evt);
      }
    }
  };
</script>

<style lang="scss">
</style>
