<template>
  <div
    v-click-outside="clickOutside"
    :class="[isOpen ? 'open' : '', extendClass]"
    class="dropdown"
  >
    <div
      ref="trigger"
      :class="dropToggleReplaceClass || 'dropdown-toggle'"
      :style="{paddingRight: showChevron? '40px' : '15px'}"

      @click="clickHandler"
    >
      <slot name="trigger" />
      <Chevron v-if="showChevron" />
    </div>
    <div
      ref="content"
      class="dropdown-content"
    >
      <slot name="content" />
    </div>
    <nav v-if="items && items.length > 0" class="droplist dropdown-list">
      <a
        v-for="(item, _key) in items"
        :key="_key"
        :class="{ 'droplink-current': isCurrent(item.value) }"
        class="droplink"
        @click="select(item)"
      >
        {{ item.text }}
      </a>
    </nav>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside';
import Chevron from './Chevron';

export default {
  name: 'Dropdown',
  components: { Chevron },
  directives: { ClickOutside },
  model: {
    prop: 'active',
    event: 'select'
  },
  props: {
    /**
     * Object with active state which contains value and text fields
     */
    active: Object,
    /**
     * The array of items in dropdown
     */
    items: { type: Array },
    /**
     * Class for dropdown component
     */
    extendClass: String,
    /**
     * Custom class for dropdown toggle
     */
    dropToggleReplaceClass: String,
    /**
     * Showing arrow on dropdown button
     */
    showChevron: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      isOpen: false
    };
  },
  methods: {
    clickOutside() {
      this.isOpen = false;
    },
    clickHandler() {
      this.isOpen = !this.isOpen;
    },
    isCurrent(value) {
      return value === this.active.value;
    },
    select(active) {
      this.$emit('select', active);
      this.isOpen = false;
    },
  }
};
</script>

<style lang="scss" scoped>
  @import "~styles/variables";
  .dropdown {
    border-radius: 2px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: left;

    &-toggle {
      padding: 10px 40px 10px 15px;
      border-radius: $dropdown-border-radius;
      border: $dropdown-border;
      background-color: $dropdown-toggle;
      transition: all 100ms ease-in-out;
      position: relative;
      vertical-align: top;
      text-decoration: none;
      color: $dropdown-option-color;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      white-space: nowrap;
      user-select: none;
      display: flex;
      cursor: pointer;
      p {
        margin: 0;
      }
    }
    &-toggle:hover {
      border-color: $dropdown--border-toggle-hover;
    }
    &-toggle:focus {
      outline: none;
    }
    &-list, .dropdown-content {
      position: absolute;
      background: $white;
      min-width: 100%;
    }

    .droplist, .dropdown-content {
      overflow: hidden;
      height: 0;
      margin-top: -4px;
      border-radius: 2px;
      background-color: $dropdown-content-bgc;
      box-shadow: $dropdown-content-box-shadow;
      display: block;
      opacity: 1;

      .droplink {
        white-space: nowrap;
        display: flex;
        padding: 10px 15px;
        align-items: center;
        -webkit-transition: all 100ms ease;
        transition: all 100ms ease;
        font-size: 15px;
        line-height: 20px;
        font-weight: normal;
        color: $dropdown-option-color;
      }
      .droplink:hover {
        opacity: 0.6;
      }
      .droplink.droplink-current {
        background-color: $dropdown-option-bgc-selected;
        color: $dropdown-option-color-selected;
        cursor: default;
      }
      .droplink.droplink-current:hover {
        opacity: 1;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }


  .open .droplist, .open .dropdown-content {
    height: auto;
    display: block;
    z-index: $zindex-dropdown;
  }
  .open .dropdown-toggle {
    border: $dropdown-border-outline;
  }
  .open .droplist {
    border: $dropdown-border-outline;
  }
  .dropdown:focus {
    outline: none;
  }

  @media (max-width: 479px) {
    .dropdown {
      margin-bottom: 0;
      margin-top: 10px;
    }
  }
</style>

