@import '../variables';

.btn {
  margin-bottom: 15px;
  border-radius: $button-border-radius;
  text-align: center;
  text-decoration: none;
  transition: background-color 100ms ease;
  cursor: pointer;
  background: $button-bg-color;
  color: $button-color;
  display: inline-block;
  position: relative;
  flex-grow: 0;
  border: 1px solid transparent;

  &:hover,
  &:focus {
    background: $button-bg-color-on-hover;
  }

  &__loading {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  &.fit-container {
    width: 100%;
  }

  .transparent {
    opacity: 0;
  }

  &-sm {
    padding: $button-sm-padding;
    font-size: $button-sm-font-size;

    .btn__loading {
      margin-top: -5px;
      margin-left: -5px;
    }
  }

  &-md {
    padding: $button-padding;
    font-size: $button-font-size;

    .btn__loading {
      margin-top: -7.5px;
      margin-left: -7.5px;
    }
  }

  &-lg {
    padding: $button-lg-padding;
    font-size: $button-lg-font-size;

    .btn__loading {
      margin-top: -10px;
      margin-left: -10px;
    }
  }

  &-disabled {
    &:hover,
    &:focus {
      background: $button-bg-color;
    }
  }
  &-autofocus {
    background: $button-bg-color-on-hover;
  }
  &-primary {
    background: $button-primary-bg-color;
    color: $button-primary-color;
    border: 1px solid $button-primary-border-color !important;
    &:hover,
    &:focus {
      background: $button-primary-bg-color-on-hover;
    }
    circle {
      stroke: $button-primary-color !important;
    }
  }

  &-secondary {
    border: 1px solid $button-secondary-border-color !important;
    background: $button-secondary-bg-color;
    color: $button-secondary-color;

    &:hover,
    &:focus {
      background: $button-secondary-bg-color-on-hover;
    }
    circle {
      stroke: $button-secondary-color !important;
    }
  }

  &-danger {
    background: $button-danger-bg-color;
    color: $button-danger-color;
    &:hover,
    &:focus {
      background: $button-danger-color-on-hover;
    }
    circle {
      stroke: $button-danger-color !important;
    }
  }

  &-warning {
    background: $button-warning-bg-color;
    color: $button-warning-color;
    &:hover,
    &:focus {
      background: $button-warning-color-on-hover;
    }
    circle {
      stroke: $button-warning-color !important;
    }
  }

  &-success {
    background: $button-success-bg-color;
    color: $button-success-color;
    &:hover,
    &:focus {
      background: $button-success-color-on-hover;
    }
    circle {
      stroke: $button-success-color !important;
    }
  }

  &-info {
    background: $button-info-bg-color;
    color: $button-info-color;
    &:hover,
    &:focus {
      background: $button-info-color-on-hover;
    }
    circle {
      stroke: $button-info-color !important;
    }
  }

  &-outlined {
    background: transparent;

    &.btn-primary {
      border-color: $button-primary-bg-color;
      color: $button-primary-bg-color;
      circle {
        stroke: $button-primary-bg-color !important;
      }
      &:hover,
      &:focus {
        color: $button-primary-color;
        border-color: $button-primary-bg-color-on-hover;
        circle {
          stroke: $button-primary-color !important;
        }
      }
    }

    &.btn-secondary {
      border-color: $button-secondary-bg-color;
      color: $button-secondary-bg-color;
      circle {
        stroke: $button-secondary-bg-color !important;
      }
      &:hover,
      &:focus {
        color: $button-secondary-color;
        border-color: $button-secondary-bg-color-on-hover;
        circle {
          stroke: $button-secondary-color !important;
        }
      }
    }

    &.btn-danger {
      border-color: $button-danger-bg-color;
      color: $button-danger-bg-color;
      circle {
        stroke: $button-danger-bg-color !important;
      }
      &:hover,
      &:focus {
        color: $button-danger-color;
        border-color: $button-danger-color-on-hover;
        circle {
          stroke: $button-danger-color !important;
        }
      }
    }

    &.btn-warning {
      border-color: $button-warning-bg-color;
      color: $button-warning-bg-color;
      circle {
        stroke: $button-warning-bg-color !important;
      }
      &:hover,
      &:focus {
        color: $button-warning-color;
        border-color: $button-warning-color-on-hover;
        circle {
          stroke: $button-warning-color !important;
        }
      }
    }

    &.btn-success {
      border-color: $button-success-bg-color;
      color: $button-success-bg-color;
      circle {
        stroke: $button-success-bg-color !important;
      }
      &:hover,
      &:focus {
        color: $button-success-color;
        border-color: $button-success-color-on-hover;
        circle {
          stroke: $button-success-color !important;
        }
      }
    }

    &.btn-info {
      border-color: $button-info-bg-color;
      color: $button-info-bg-color;
      circle {
        stroke: $button-info-bg-color !important;
      }
      &:hover,
      &:focus {
        color: $button-info-color;
        border-color: $button-info-color-on-hover;
        circle {
          stroke: $button-info-color !important;
        }
      }
    }
  }

  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
