<template>
  <button
    :class="[
      extendClass ? `${extendClass}` : '',
      fitContainer ? `fit-container` : '',
      `btn-${size}`,
      {
        'btn-primary': primary,
        'btn-secondary': secondary,
        'btn-success': success,
        'btn-info': info,
        'btn-warning': warning,
        'btn-danger': danger,
        'btn-disabled': disabled,
        'btn-autofocus': autofocus,
        'btn-outlined': outlined
      }
    ]"
    :type="type"
    :disabled="disabled"
    :autofocus="autofocus"
    class="btn"
    @click="handleClick"
  >
    <div v-if="$slots.prefix" ref="prefix" class="button__prefix">
      <slot name="prefix" />
    </div>

    <!-- -->

    <Loader v-if="loading" :size="getLoadingSize()" class="btn__loading" />
    <div :class="{ transparent: loading }" class="btn__content">
      <slot />
    </div>

    <!-- -->

    <div v-if="$slots.postfix" ref="postfix" class="button__postfix">
      <slot name="postfix" />
    </div>
  </button>
</template>

<script>
import Loader from '../Base/Loader';

// TODO: Translate comments
export default {
  name: 'Button',
  components: { Loader },
  props: {
    /**
     * Type of button
     * Possible variants: button, reset, submit
     */
    type: {
      type: String,
      default: ''
    },
    /**
     * Class for button element
     */
    extendClass: {
      type: String,
      default: ''
    },
    /**
     * Button size
     * Possible variants: lg, md, sm
     */
    size: {
      type: String,
      default: 'md'
    },
    /**
     * The ability to expand to the full width
     */
    fitContainer: {
      type: Boolean,
      default: false
    },
    /**
     * Button with green background
     */
    success: {
      type: Boolean,
      default: false
    },
    /**
     * Button with primary background
     */
    primary: {
      type: Boolean,
      default: false
    },
    /**
     * Button with secondary background
     */
    secondary: {
      type: Boolean,
      default: false
    },
    /**
     * Button with info color background
     */
    info: {
      type: Boolean,
      default: false
    },
    /**
     * Button with orange background
     */
    warning: {
      type: Boolean,
      default: false
    },
    /**
     * Button with red background
     */
    danger: {
      type: Boolean,
      default: false
    },
    /**
     * Button with colored border and transparent background
     * Example of usage:
     * `<Button success outlined />`  - button with green border
     */
    outlined: {
      type: Boolean,
      default: false
    },

    /**
     * Autofocus on button
     */
    autofocus: {
      type: Boolean,
      default: false
    },
    /**
     * The ability to disable the click on button
     */
    disabled: {
      type: Boolean,
      default: false
    },
    /**
     * The loading circle inside the button
     */
    loading: {
      type: Boolean,
      default: false
    },
  },
  methods: {
    handleClick(evt) {
      /**
       * Emitted when the button is clicked
       * @param event
       */
      this.$emit('click', evt);
    },
    getLoadingSize() {
      switch (this.size) {
        case 'lg':
          return 20;
        case 'md':
          return 15;
        case 'sm':
          return 10;
        default:
          return 15;
      }
    }
  }
};
</script>

<style lang="scss">
@import '../../styles/shared/button';
</style>
