<template>
    <section v-click-outside="clickOutside" class="v-calendar left">
        <div class="input-field">
            <input type="text"
                   @click="isShowPicker= !isShowPicker"
                   :value="formattedValue" readonly
            />
        </div>
        <div class="content" v-if="isShowPicker">
            <div class="calendar">
                <div class="selected-field">
                    <div class="selected-date">
                        <button class="dateButton prev" type="button" @click="prevMount()"></button>
                        <button type="button" class="viewButton">{{ this.calendar.months[currentDate.month].name }} {{this.currentDate.year }} </button>
                        <button class="dateButton next" type="button" @click="nextMount()"></button>
                    </div>
                </div>
                <div class="days">
                    <div class="day name"
                         v-for="day in calendar.days"
                         :key="`${day.dayNumber}-day`">
                        {{ day.name }}
                    </div>
                    <button
                            class="day square"
                            :class="[{'disabledDate': !mDay.isDayInMouth || !mDay.isUsable}, {'selectedDate': formatDate(selectedDate) === mDay.date }]"
                            v-for="(mDay,index) in calendar.daysOfMonth"
                            :key="`${index}-mounthday`"
                            @click="handlerDate(mDay.fullDate)"
                            type="button">
                        <span class="number">{{ mDay.day }}</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import CalendarMixin from './../../utils/mixins/CalendarMixin';

    export default {
        name: 'Calendar',
        mixins: [CalendarMixin],
    };
</script>

<style lang="scss">
    @import "~styles/variables";

    .v-calendar {
        * {
            &:focus {
                outline: none;
            }
        }
        font-family: $font-family;
        position: relative;
        height: 100%;
        width: max-content;
        .content {
            display: flex;
            box-shadow: $calendar-content-box-shadow;
            border: $calendar-content-border;
            border-radius: 3px;
            position: absolute;
            background: #fff;
            top: 40px;
            z-index: 99999;
        }
        .input-field {
            display: flex;
            position: relative;
            width: 155px;
            input {
                position: relative;
                text-align: center;
                display: inline-block;
                margin-bottom: 10px;
                height: 35px;
                width: 155px;
                text-decoration: none;
                cursor: pointer;
                transition: background-color 100ms ease;
                background: $dropdown-toggle;
                color: $black;
                flex-grow: 0;
                font-size: 12px;
                border-radius: $button-border-radius;
                border: $calendar-content-border;
            }
        }
        .calendar {
            padding: 5px 10px 10px;
            width: 200px;
            &:first-child {
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    top: -20px;
                }
            }
            .selected-field {
                padding: 5px;
                margin-bottom: 0;
                .selected-date {
                    display: flex;
                    justify-content: space-between;
                }
                .viewButton {
                    border: 0;
                    width: 100%;
                    padding: 10px;
                    color: #333;
                    font-size: 12px;
                    margin: 0 10px 0;
                    background: transparent;
                }
                .dateButton {
                    position: relative;
                    border: 0;
                    background: transparent;

                    &::after {
                        content: "";
                        display: inline-block;
                        text-align: left;
                        cursor: pointer;
                        border: $calendar-button-border;
                    }
                }
                .dateButton.prev {
                    &::after {
                        border-right: $calendar-button-border-right;
                    }
                }
                .dateButton.next {
                    &::after {
                        border-left: $calendar-button-border-right;
                    }
                }
            }
            .days {
                display: grid;
                grid-template-columns: repeat(7, calc(100% / 7));
                border-radius: 4px;
                .day {
                    background: transparent;
                    border: 0;
                    text-align: center;
                    padding: 8px 0 8px;
                    font-size: 10px;
                    color: #7b8187;
                    cursor: pointer;
                    &:hover {
                        &:not(.selectedDate) {
                            background: #eaeaeb;
                        }
                    }
                }
                .day.name {
                    pointer-events: none;
                    text-align: center;
                    padding: 10px 0 10px;
                }
                .day.selectedDate {
                    background: $primary;
                    color: $white;
                }
                .day.disabledDate {
                    opacity: 0.3;
                    pointer-events: none;
                }
            }
        }
    }
    .v-calendar.left {
        .content {
            left: 0;
            transform: translateY(10px);
        }
        .calendar {
            &:first-child {
                &::before {
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent rgb(206, 208, 218) transparent;
                    left: 0;
                }
            }
        }
    }

</style>
