<template>
    <header class="header">
        <div class="header__left">
            <Logo />
        </div>
        <div class="header__center">
            <Tab>
                Реклама на радио
            </Tab>
            <Tab active>
                Реклама на транспорте
            </Tab>
            <Tab>
                Реклама в лифтах
            </Tab>
        </div>
        <div class="header__right">
            <div v-if="!loggedIn" class="avatar-icon">
                <img :src="AvatarIcon" alt="">
            </div>
            <div v-if="!basket.big" class="basket">
                <img :src="BasketIcon" alt="">
                <div v-if="basket.quantity > 0" class="basket__quantity">{{ basket.quantity }}</div>
            </div>
            <div v-if="loggedIn" class="avatar_wrapper">
                <img class="avatar" :src="DefaultAvatar" alt="">
                <Dropdown :class="{avatar_basket: basket.big}" :items="items" :active="active" extend-class="avatar__dropdown" show-chevron>
                    <template v-if="basket.big" v-slot:trigger>
                        <div class="name">
                            Vadim Tyli
                        </div>
                    </template>
                </Dropdown>
            </div>
            <div v-if="basket.big" class="basket_big">
                <Button primary extend-class="basket__button">
                    <div class="basket">
                        <img :src="BasketIcon" alt="">
                        <div class="basket__quantity">{{ basket.quantity }}</div>
                    </div>
                    <div class="final-sum">
                        <div class="final-sum__hint">сумма:</div>
                        <div class="final-sum__value">{{ basket.value }}</div>
                    </div>
                </Button>
            </div>
        </div>
    </header>
</template>

<script>
    import DefaultAvatar from '../../assets/images/avatar-placeholder.png';
    import BasketIcon from '../../assets/images/basket.svg';
    import AvatarIcon from '../../assets/images/AvatarIcon.svg';
    import Dropdown from "../Dropdown/Dropdown";
    import Button from "../Buttons/Button"
    import Logo from '../Logo/Logo.vue';
    import Tab from '../Tab/Tab.vue';
    export default {
        name: "Header",
        data() {
            return {
                DefaultAvatar,
                BasketIcon,
                AvatarIcon,
                items: [
                    { text: "Личный кабинет", value: '' },
                    { text: "Комментарии", value: '' },
                    { text: "Выйти", value: '' }
                ],
                active: {value: 1, text: 'Личный кабинет'}
            }
        },
        props: {
            loggedIn: Boolean,
            basket: { type: Object, default: {} }
        },
        components: {
            Logo,
            Tab,
            Dropdown,
            Button,
        },
    }
</script>

<style lang="scss">
    .header {
        font-family: "Proxima Nova - Semibold";
        height: 70px;
        width: 100%;
        box-shadow: 0 1px 0 #dfe2e5;
        background-image: linear-gradient(to top, #1991eb 0%, #00aeef 100%);
        padding: 18px 30px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        &__center {
            align-self: center;
        }

        &__right {
            display: flex;
            align-items: center;
            > div {
               margin-right: 18px; 
            }
            .basket {
                position: relative;
                margin-right: 28px;
                &__button {
                    margin-bottom: 0;
                    padding: 10px 15px;
                    .btn__content {
                        display: flex;
                        .basket {
                            align-self: flex-end;
                            &__quantity {
                                background-color: white;
                                color: black;
                            }
                        }
                        .final-sum {
                            align-self: start;
                            font-size: 12px;
                        }
                    }
                }
                &__quantity {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: #ff7800;
                    font-size: 12px;
                    font-weight: 400;
                    color: white;
                    top: -50%;
                    right: -50%;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                }
            }
            .avatar {
                &_wrapper {
                    position: relative;
                    display: flex;
                }
                width: 36px;
                height: 36px;
                border-radius: 50%;
                &__dropdown {
                    position: absolute;
                    width: 84px;
                    height: 40px;
                    display: flex;
                    .dropdown-toggle {
                        background: none;
                        border: none !important;
                        .chevron {
                            margin-right: -6px;
                            fill: #fff;
                            opacity: 1;
                        }
                    }
                }
                &_basket {
                    width: auto;
                    position: static;
                    .name {
                        color: white;
                    }
                }
            }
        }
    }
</style>