@mixin position($type, $top: auto, $right: auto, $bottom: auto, $left: auto, $width: auto, $height: auto) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;
}

@mixin text(
  $size: $font-size-base,
  $weight: 400,
  $line-height: 1.5,
  $color: inherit,
  $family: inherit
) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
  font-family: $family;
}

//div::after {
//  @include pseudo;
//}
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin background-image($file, $type, $width: 100%, $height: auto, $widthRetina: 100%, $heightRetina: auto, $showOnMobile: false) {
  @if $showOnMobile {
    background-image: url($file + '@0,5x.' + $type);
  }
  @media (min-width: 1000px) {
    & {
      background-image: url($file + '.' + $type);
      background-size: $width $height;
    }
  }
  @media (min-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      background-size: $widthRetina $heightRetina;
    }
  }
}
