<template>
  <div class="datatable">
      <div class="datatable__header datatable__row" :style="gridRow">
        <div class="database__cell" v-for="column in columns" :key="column.name" @click="sortRows(column.name)">
            {{column.value}}
        </div>
      </div>
      <div class="datatable__row" v-for="(row, index) in rows" :key="index" :style="gridRow">
          <div class="database__cell" v-for="column in columns" :key="column.name">
              <component 
              v-if="typeof(findColumn(row,column.name)) === 'object'" 
              :is="findColumn(row,column.name)"/>
              <span v-else>{{findColumn(row,column.name)}}</span>
          </div>
      </div>
  </div>
</template>

<script>
    import Button from "../Buttons/Button"
    import Dropdown from "../Dropdown/Dropdown"
export default {
name: 'DataTable',
    props: {
      columns: Array,
      rows: Array,
    },
    data () {
      return {
        gridRow: {
            display: 'grid',
            placeItems: 'center',
            textAlign: 'center',
            gridTemplateColumns: this.calculateGridColumns()
        }
      }
    },

    methods: {
        findColumn(row,columnName) {
            const keyAndValue = Object.entries(row).find(([key, value]) => key === columnName)
            return keyAndValue && keyAndValue[1];
        },

        sortRows: function(name) {
            if ((this.rows.find(row => !!row[name])).sorted){
                this.rows.reverse()
            } else {
            this.rows.forEach(row => row.sorted = !!row[name])
            this.rows.sort((a,b) => a[name] > b[name] ? 1 : -1)
            }
        },

        calculateGridColumns: function() {
            return this.columns.map(({gridStyleWidth}) => gridStyleWidth ? gridStyleWidth : '1fr').join(' ')
        }
    }
}
</script>

<style lang='scss'>
    @import 'styles/_variables.scss';
    .datatable {
        
        &__header {
            background-color: $gray-100;
            border: 1px solid $gray-300;
            padding: 0.5vh 0;
            color: $gray-600;

            .database__cell:first-child {
                justify-self: start;
                margin-left: 2vw;
            }
        }

        &__row {
            border: 1px solid $gray-300;
            border-top: none;
        }
    }

</style>